# coding: utf-8

"""
    Defect Dojo API

    To use the API you need be authorized.  # noqa: E501

    The version of the OpenAPI document: v2
    Generated by: https://openapi-generator.tech
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from openapi_client.api_client import ApiClient
from openapi_client.exceptions import (  # noqa: F401
    ApiTypeError,
    ApiValueError
)


class FindingsApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def findings_accept_risks(self, data, **kwargs):  # noqa: E501
        """findings_accept_risks  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.findings_accept_risks(data, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param list[AcceptedRisk] data: (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: list[RiskAcceptance]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.findings_accept_risks_with_http_info(data, **kwargs)  # noqa: E501

    def findings_accept_risks_with_http_info(self, data, **kwargs):  # noqa: E501
        """findings_accept_risks  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.findings_accept_risks_with_http_info(data, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param list[AcceptedRisk] data: (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: tuple(list[RiskAcceptance], status_code(int), headers(HTTPHeaderDict))
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'data'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method findings_accept_risks" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'data' is set
        if self.api_client.client_side_validation and ('data' not in local_var_params or  # noqa: E501
                                                        local_var_params['data'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `data` when calling `findings_accept_risks`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'data' in local_var_params:
            body_params = local_var_params['data']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/findings/accept_risks/', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[RiskAcceptance]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def findings_create(self, data, **kwargs):  # noqa: E501
        """findings_create  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.findings_create(data, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param FindingCreate data: (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: FindingCreate
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.findings_create_with_http_info(data, **kwargs)  # noqa: E501

    def findings_create_with_http_info(self, data, **kwargs):  # noqa: E501
        """findings_create  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.findings_create_with_http_info(data, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param FindingCreate data: (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: tuple(FindingCreate, status_code(int), headers(HTTPHeaderDict))
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'data'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method findings_create" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'data' is set
        if self.api_client.client_side_validation and ('data' not in local_var_params or  # noqa: E501
                                                        local_var_params['data'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `data` when calling `findings_create`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'data' in local_var_params:
            body_params = local_var_params['data']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/findings/', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='FindingCreate',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def findings_delete(self, id, **kwargs):  # noqa: E501
        """findings_delete  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.findings_delete(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param int id: A unique integer value identifying this finding. (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.findings_delete_with_http_info(id, **kwargs)  # noqa: E501

    def findings_delete_with_http_info(self, id, **kwargs):  # noqa: E501
        """findings_delete  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.findings_delete_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param int id: A unique integer value identifying this finding. (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'id'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method findings_delete" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'id' is set
        if self.api_client.client_side_validation and ('id' not in local_var_params or  # noqa: E501
                                                        local_var_params['id'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `id` when calling `findings_delete`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in local_var_params:
            path_params['id'] = local_var_params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/findings/{id}/', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def findings_duplicate_reset_finding_duplicate_status(self, id, **kwargs):  # noqa: E501
        """findings_duplicate_reset_finding_duplicate_status  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.findings_duplicate_reset_finding_duplicate_status(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param int id: A unique integer value identifying this finding. (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.findings_duplicate_reset_finding_duplicate_status_with_http_info(id, **kwargs)  # noqa: E501

    def findings_duplicate_reset_finding_duplicate_status_with_http_info(self, id, **kwargs):  # noqa: E501
        """findings_duplicate_reset_finding_duplicate_status  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.findings_duplicate_reset_finding_duplicate_status_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param int id: A unique integer value identifying this finding. (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'id'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method findings_duplicate_reset_finding_duplicate_status" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'id' is set
        if self.api_client.client_side_validation and ('id' not in local_var_params or  # noqa: E501
                                                        local_var_params['id'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `id` when calling `findings_duplicate_reset_finding_duplicate_status`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in local_var_params:
            path_params['id'] = local_var_params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/findings/{id}/duplicate/reset/', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def findings_files_create(self, id, title, file, **kwargs):  # noqa: E501
        """findings_files_create  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.findings_files_create(id, title, file, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param int id: A unique integer value identifying this finding. (required)
        :param str title: (required)
        :param file file: (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: File
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.findings_files_create_with_http_info(id, title, file, **kwargs)  # noqa: E501

    def findings_files_create_with_http_info(self, id, title, file, **kwargs):  # noqa: E501
        """findings_files_create  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.findings_files_create_with_http_info(id, title, file, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param int id: A unique integer value identifying this finding. (required)
        :param str title: (required)
        :param file file: (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: tuple(File, status_code(int), headers(HTTPHeaderDict))
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'id',
            'title',
            'file'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method findings_files_create" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'id' is set
        if self.api_client.client_side_validation and ('id' not in local_var_params or  # noqa: E501
                                                        local_var_params['id'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `id` when calling `findings_files_create`")  # noqa: E501
        # verify the required parameter 'title' is set
        if self.api_client.client_side_validation and ('title' not in local_var_params or  # noqa: E501
                                                        local_var_params['title'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `title` when calling `findings_files_create`")  # noqa: E501
        # verify the required parameter 'file' is set
        if self.api_client.client_side_validation and ('file' not in local_var_params or  # noqa: E501
                                                        local_var_params['file'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `file` when calling `findings_files_create`")  # noqa: E501

        if self.api_client.client_side_validation and ('title' in local_var_params and  # noqa: E501
                                                        len(local_var_params['title']) > 100):  # noqa: E501
            raise ApiValueError("Invalid value for parameter `title` when calling `findings_files_create`, length must be less than or equal to `100`")  # noqa: E501
        if self.api_client.client_side_validation and ('title' in local_var_params and  # noqa: E501
                                                        len(local_var_params['title']) < 1):  # noqa: E501
            raise ApiValueError("Invalid value for parameter `title` when calling `findings_files_create`, length must be greater than or equal to `1`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'id' in local_var_params:
            path_params['id'] = local_var_params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'title' in local_var_params:
            form_params.append(('title', local_var_params['title']))  # noqa: E501
        if 'file' in local_var_params:
            local_var_files['file'] = local_var_params['file']  # noqa: E501

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/findings/{id}/files/', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='File',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def findings_files_read(self, id, **kwargs):  # noqa: E501
        """findings_files_read  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.findings_files_read(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param int id: A unique integer value identifying this finding. (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: FindingToFiles
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.findings_files_read_with_http_info(id, **kwargs)  # noqa: E501

    def findings_files_read_with_http_info(self, id, **kwargs):  # noqa: E501
        """findings_files_read  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.findings_files_read_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param int id: A unique integer value identifying this finding. (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: tuple(FindingToFiles, status_code(int), headers(HTTPHeaderDict))
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'id'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method findings_files_read" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'id' is set
        if self.api_client.client_side_validation and ('id' not in local_var_params or  # noqa: E501
                                                        local_var_params['id'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `id` when calling `findings_files_read`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in local_var_params:
            path_params['id'] = local_var_params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/findings/{id}/files/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='FindingToFiles',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def findings_generate_report(self, data, **kwargs):  # noqa: E501
        """findings_generate_report  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.findings_generate_report(data, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param ReportGenerateOption data: (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: ReportGenerate
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.findings_generate_report_with_http_info(data, **kwargs)  # noqa: E501

    def findings_generate_report_with_http_info(self, data, **kwargs):  # noqa: E501
        """findings_generate_report  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.findings_generate_report_with_http_info(data, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param ReportGenerateOption data: (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: tuple(ReportGenerate, status_code(int), headers(HTTPHeaderDict))
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'data'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method findings_generate_report" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'data' is set
        if self.api_client.client_side_validation and ('data' not in local_var_params or  # noqa: E501
                                                        local_var_params['data'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `data` when calling `findings_generate_report`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'data' in local_var_params:
            body_params = local_var_params['data']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/findings/generate_report/', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ReportGenerate',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def findings_get_duplicate_cluster(self, id, **kwargs):  # noqa: E501
        """findings_get_duplicate_cluster  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.findings_get_duplicate_cluster(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param int id: A unique integer value identifying this finding. (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: list[Finding]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.findings_get_duplicate_cluster_with_http_info(id, **kwargs)  # noqa: E501

    def findings_get_duplicate_cluster_with_http_info(self, id, **kwargs):  # noqa: E501
        """findings_get_duplicate_cluster  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.findings_get_duplicate_cluster_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param int id: A unique integer value identifying this finding. (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: tuple(list[Finding], status_code(int), headers(HTTPHeaderDict))
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'id'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method findings_get_duplicate_cluster" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'id' is set
        if self.api_client.client_side_validation and ('id' not in local_var_params or  # noqa: E501
                                                        local_var_params['id'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `id` when calling `findings_get_duplicate_cluster`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in local_var_params:
            path_params['id'] = local_var_params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/findings/{id}/duplicate/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[Finding]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def findings_list(self, **kwargs):  # noqa: E501
        """findings_list  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.findings_list(async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str title:
        :param str date:
        :param str sla_start_date:
        :param float cwe: Multiple values may be separated by commas.
        :param str cve:
        :param str cvssv3:
        :param float cvssv3_score:
        :param str severity:
        :param str description:
        :param str mitigation:
        :param str impact:
        :param str steps_to_reproduce:
        :param str severity_justification:
        :param float endpoints: Multiple values may be separated by commas.
        :param str references:
        :param str test:
        :param str active:
        :param str verified:
        :param str false_p:
        :param str duplicate:
        :param str duplicate_finding:
        :param str out_of_scope:
        :param str risk_accepted:
        :param str under_review:
        :param str last_status_update:
        :param float review_requested_by: Multiple values may be separated by commas.
        :param float reviewers: Multiple values may be separated by commas.
        :param str under_defect_review:
        :param float defect_review_requested_by: Multiple values may be separated by commas.
        :param str is_mitigated:
        :param str mitigated:
        :param float mitigated_by: Multiple values may be separated by commas.
        :param float reporter: Multiple values may be separated by commas.
        :param str numerical_severity:
        :param str last_reviewed:
        :param float last_reviewed_by: Multiple values may be separated by commas.
        :param str param:
        :param str payload:
        :param str hash_code:
        :param str file_path:
        :param str component_name:
        :param str component_version:
        :param float found_by: Multiple values may be separated by commas.
        :param str static_finding:
        :param str dynamic_finding:
        :param str created:
        :param float scanner_confidence: Multiple values may be separated by commas.
        :param float sonarqube_issue: Multiple values may be separated by commas.
        :param str unique_id_from_tool:
        :param str vuln_id_from_tool:
        :param str sast_source_object:
        :param str sast_sink_object:
        :param float sast_source_line: Multiple values may be separated by commas.
        :param str sast_source_file_path:
        :param float nb_occurences: Multiple values may be separated by commas.
        :param str publish_date:
        :param str service:
        :param str tags: Comma seperated list of exact tags
        :param str step_to_reproduce:
        :param str jira_creation:
        :param str jira_change:
        :param float id: Multiple values may be separated by commas.
        :param float test__test_type: Multiple values may be separated by commas.
        :param float test__engagement: Multiple values may be separated by commas.
        :param float test__engagement__product: Multiple values may be separated by commas.
        :param float finding_group: Multiple values may be separated by commas.
        :param str risk_acceptance:
        :param str tag: Tag name contains
        :param str test__tags: Comma seperated list of exact tags present on test
        :param str test__engagement__tags: Comma seperated list of exact tags present on engagement
        :param str test__engagement__product__tags__name: Comma seperated list of exact tags present on product
        :param str not_tag: Not Tag name contains
        :param str not_tags: Comma seperated list of exact tags not present on model
        :param str not_test__tags: Comma seperated list of exact tags not present on test
        :param str not_test__engagement__tags: Comma seperated list of exact tags not present on engagement
        :param str not_test__engagement__product__tags__name: Comma seperated list of exact tags not present on product
        :param str o:
        :param int limit: Number of results to return per page.
        :param int offset: The initial index from which to return the results.
        :param list[str] prefetch:
        :param bool related_fields: Expand finding external relations (engagement, environment, product, product_type, test, test_type)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: InlineResponse20010
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.findings_list_with_http_info(**kwargs)  # noqa: E501

    def findings_list_with_http_info(self, **kwargs):  # noqa: E501
        """findings_list  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.findings_list_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str title:
        :param str date:
        :param str sla_start_date:
        :param float cwe: Multiple values may be separated by commas.
        :param str cve:
        :param str cvssv3:
        :param float cvssv3_score:
        :param str severity:
        :param str description:
        :param str mitigation:
        :param str impact:
        :param str steps_to_reproduce:
        :param str severity_justification:
        :param float endpoints: Multiple values may be separated by commas.
        :param str references:
        :param str test:
        :param str active:
        :param str verified:
        :param str false_p:
        :param str duplicate:
        :param str duplicate_finding:
        :param str out_of_scope:
        :param str risk_accepted:
        :param str under_review:
        :param str last_status_update:
        :param float review_requested_by: Multiple values may be separated by commas.
        :param float reviewers: Multiple values may be separated by commas.
        :param str under_defect_review:
        :param float defect_review_requested_by: Multiple values may be separated by commas.
        :param str is_mitigated:
        :param str mitigated:
        :param float mitigated_by: Multiple values may be separated by commas.
        :param float reporter: Multiple values may be separated by commas.
        :param str numerical_severity:
        :param str last_reviewed:
        :param float last_reviewed_by: Multiple values may be separated by commas.
        :param str param:
        :param str payload:
        :param str hash_code:
        :param str file_path:
        :param str component_name:
        :param str component_version:
        :param float found_by: Multiple values may be separated by commas.
        :param str static_finding:
        :param str dynamic_finding:
        :param str created:
        :param float scanner_confidence: Multiple values may be separated by commas.
        :param float sonarqube_issue: Multiple values may be separated by commas.
        :param str unique_id_from_tool:
        :param str vuln_id_from_tool:
        :param str sast_source_object:
        :param str sast_sink_object:
        :param float sast_source_line: Multiple values may be separated by commas.
        :param str sast_source_file_path:
        :param float nb_occurences: Multiple values may be separated by commas.
        :param str publish_date:
        :param str service:
        :param str tags: Comma seperated list of exact tags
        :param str step_to_reproduce:
        :param str jira_creation:
        :param str jira_change:
        :param float id: Multiple values may be separated by commas.
        :param float test__test_type: Multiple values may be separated by commas.
        :param float test__engagement: Multiple values may be separated by commas.
        :param float test__engagement__product: Multiple values may be separated by commas.
        :param float finding_group: Multiple values may be separated by commas.
        :param str risk_acceptance:
        :param str tag: Tag name contains
        :param str test__tags: Comma seperated list of exact tags present on test
        :param str test__engagement__tags: Comma seperated list of exact tags present on engagement
        :param str test__engagement__product__tags__name: Comma seperated list of exact tags present on product
        :param str not_tag: Not Tag name contains
        :param str not_tags: Comma seperated list of exact tags not present on model
        :param str not_test__tags: Comma seperated list of exact tags not present on test
        :param str not_test__engagement__tags: Comma seperated list of exact tags not present on engagement
        :param str not_test__engagement__product__tags__name: Comma seperated list of exact tags not present on product
        :param str o:
        :param int limit: Number of results to return per page.
        :param int offset: The initial index from which to return the results.
        :param list[str] prefetch:
        :param bool related_fields: Expand finding external relations (engagement, environment, product, product_type, test, test_type)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: tuple(InlineResponse20010, status_code(int), headers(HTTPHeaderDict))
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'title',
            'date',
            'sla_start_date',
            'cwe',
            'cve',
            'cvssv3',
            'cvssv3_score',
            'severity',
            'description',
            'mitigation',
            'impact',
            'steps_to_reproduce',
            'severity_justification',
            'endpoints',
            'references',
            'test',
            'active',
            'verified',
            'false_p',
            'duplicate',
            'duplicate_finding',
            'out_of_scope',
            'risk_accepted',
            'under_review',
            'last_status_update',
            'review_requested_by',
            'reviewers',
            'under_defect_review',
            'defect_review_requested_by',
            'is_mitigated',
            'mitigated',
            'mitigated_by',
            'reporter',
            'numerical_severity',
            'last_reviewed',
            'last_reviewed_by',
            'param',
            'payload',
            'hash_code',
            'file_path',
            'component_name',
            'component_version',
            'found_by',
            'static_finding',
            'dynamic_finding',
            'created',
            'scanner_confidence',
            'sonarqube_issue',
            'unique_id_from_tool',
            'vuln_id_from_tool',
            'sast_source_object',
            'sast_sink_object',
            'sast_source_line',
            'sast_source_file_path',
            'nb_occurences',
            'publish_date',
            'service',
            'tags',
            'step_to_reproduce',
            'jira_creation',
            'jira_change',
            'id',
            'test__test_type',
            'test__engagement',
            'test__engagement__product',
            'finding_group',
            'risk_acceptance',
            'tag',
            'test__tags',
            'test__engagement__tags',
            'test__engagement__product__tags__name',
            'not_tag',
            'not_tags',
            'not_test__tags',
            'not_test__engagement__tags',
            'not_test__engagement__product__tags__name',
            'o',
            'limit',
            'offset',
            'prefetch',
            'related_fields'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method findings_list" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'title' in local_var_params and local_var_params['title'] is not None:  # noqa: E501
            query_params.append(('title', local_var_params['title']))  # noqa: E501
        if 'date' in local_var_params and local_var_params['date'] is not None:  # noqa: E501
            query_params.append(('date', local_var_params['date']))  # noqa: E501
        if 'sla_start_date' in local_var_params and local_var_params['sla_start_date'] is not None:  # noqa: E501
            query_params.append(('sla_start_date', local_var_params['sla_start_date']))  # noqa: E501
        if 'cwe' in local_var_params and local_var_params['cwe'] is not None:  # noqa: E501
            query_params.append(('cwe', local_var_params['cwe']))  # noqa: E501
        if 'cve' in local_var_params and local_var_params['cve'] is not None:  # noqa: E501
            query_params.append(('cve', local_var_params['cve']))  # noqa: E501
        if 'cvssv3' in local_var_params and local_var_params['cvssv3'] is not None:  # noqa: E501
            query_params.append(('cvssv3', local_var_params['cvssv3']))  # noqa: E501
        if 'cvssv3_score' in local_var_params and local_var_params['cvssv3_score'] is not None:  # noqa: E501
            query_params.append(('cvssv3_score', local_var_params['cvssv3_score']))  # noqa: E501
        if 'severity' in local_var_params and local_var_params['severity'] is not None:  # noqa: E501
            query_params.append(('severity', local_var_params['severity']))  # noqa: E501
        if 'description' in local_var_params and local_var_params['description'] is not None:  # noqa: E501
            query_params.append(('description', local_var_params['description']))  # noqa: E501
        if 'mitigation' in local_var_params and local_var_params['mitigation'] is not None:  # noqa: E501
            query_params.append(('mitigation', local_var_params['mitigation']))  # noqa: E501
        if 'impact' in local_var_params and local_var_params['impact'] is not None:  # noqa: E501
            query_params.append(('impact', local_var_params['impact']))  # noqa: E501
        if 'steps_to_reproduce' in local_var_params and local_var_params['steps_to_reproduce'] is not None:  # noqa: E501
            query_params.append(('steps_to_reproduce', local_var_params['steps_to_reproduce']))  # noqa: E501
        if 'severity_justification' in local_var_params and local_var_params['severity_justification'] is not None:  # noqa: E501
            query_params.append(('severity_justification', local_var_params['severity_justification']))  # noqa: E501
        if 'endpoints' in local_var_params and local_var_params['endpoints'] is not None:  # noqa: E501
            query_params.append(('endpoints', local_var_params['endpoints']))  # noqa: E501
        if 'references' in local_var_params and local_var_params['references'] is not None:  # noqa: E501
            query_params.append(('references', local_var_params['references']))  # noqa: E501
        if 'test' in local_var_params and local_var_params['test'] is not None:  # noqa: E501
            query_params.append(('test', local_var_params['test']))  # noqa: E501
        if 'active' in local_var_params and local_var_params['active'] is not None:  # noqa: E501
            query_params.append(('active', local_var_params['active']))  # noqa: E501
        if 'verified' in local_var_params and local_var_params['verified'] is not None:  # noqa: E501
            query_params.append(('verified', local_var_params['verified']))  # noqa: E501
        if 'false_p' in local_var_params and local_var_params['false_p'] is not None:  # noqa: E501
            query_params.append(('false_p', local_var_params['false_p']))  # noqa: E501
        if 'duplicate' in local_var_params and local_var_params['duplicate'] is not None:  # noqa: E501
            query_params.append(('duplicate', local_var_params['duplicate']))  # noqa: E501
        if 'duplicate_finding' in local_var_params and local_var_params['duplicate_finding'] is not None:  # noqa: E501
            query_params.append(('duplicate_finding', local_var_params['duplicate_finding']))  # noqa: E501
        if 'out_of_scope' in local_var_params and local_var_params['out_of_scope'] is not None:  # noqa: E501
            query_params.append(('out_of_scope', local_var_params['out_of_scope']))  # noqa: E501
        if 'risk_accepted' in local_var_params and local_var_params['risk_accepted'] is not None:  # noqa: E501
            query_params.append(('risk_accepted', local_var_params['risk_accepted']))  # noqa: E501
        if 'under_review' in local_var_params and local_var_params['under_review'] is not None:  # noqa: E501
            query_params.append(('under_review', local_var_params['under_review']))  # noqa: E501
        if 'last_status_update' in local_var_params and local_var_params['last_status_update'] is not None:  # noqa: E501
            query_params.append(('last_status_update', local_var_params['last_status_update']))  # noqa: E501
        if 'review_requested_by' in local_var_params and local_var_params['review_requested_by'] is not None:  # noqa: E501
            query_params.append(('review_requested_by', local_var_params['review_requested_by']))  # noqa: E501
        if 'reviewers' in local_var_params and local_var_params['reviewers'] is not None:  # noqa: E501
            query_params.append(('reviewers', local_var_params['reviewers']))  # noqa: E501
        if 'under_defect_review' in local_var_params and local_var_params['under_defect_review'] is not None:  # noqa: E501
            query_params.append(('under_defect_review', local_var_params['under_defect_review']))  # noqa: E501
        if 'defect_review_requested_by' in local_var_params and local_var_params['defect_review_requested_by'] is not None:  # noqa: E501
            query_params.append(('defect_review_requested_by', local_var_params['defect_review_requested_by']))  # noqa: E501
        if 'is_mitigated' in local_var_params and local_var_params['is_mitigated'] is not None:  # noqa: E501
            query_params.append(('is_mitigated', local_var_params['is_mitigated']))  # noqa: E501
        if 'mitigated' in local_var_params and local_var_params['mitigated'] is not None:  # noqa: E501
            query_params.append(('mitigated', local_var_params['mitigated']))  # noqa: E501
        if 'mitigated_by' in local_var_params and local_var_params['mitigated_by'] is not None:  # noqa: E501
            query_params.append(('mitigated_by', local_var_params['mitigated_by']))  # noqa: E501
        if 'reporter' in local_var_params and local_var_params['reporter'] is not None:  # noqa: E501
            query_params.append(('reporter', local_var_params['reporter']))  # noqa: E501
        if 'numerical_severity' in local_var_params and local_var_params['numerical_severity'] is not None:  # noqa: E501
            query_params.append(('numerical_severity', local_var_params['numerical_severity']))  # noqa: E501
        if 'last_reviewed' in local_var_params and local_var_params['last_reviewed'] is not None:  # noqa: E501
            query_params.append(('last_reviewed', local_var_params['last_reviewed']))  # noqa: E501
        if 'last_reviewed_by' in local_var_params and local_var_params['last_reviewed_by'] is not None:  # noqa: E501
            query_params.append(('last_reviewed_by', local_var_params['last_reviewed_by']))  # noqa: E501
        if 'param' in local_var_params and local_var_params['param'] is not None:  # noqa: E501
            query_params.append(('param', local_var_params['param']))  # noqa: E501
        if 'payload' in local_var_params and local_var_params['payload'] is not None:  # noqa: E501
            query_params.append(('payload', local_var_params['payload']))  # noqa: E501
        if 'hash_code' in local_var_params and local_var_params['hash_code'] is not None:  # noqa: E501
            query_params.append(('hash_code', local_var_params['hash_code']))  # noqa: E501
        if 'file_path' in local_var_params and local_var_params['file_path'] is not None:  # noqa: E501
            query_params.append(('file_path', local_var_params['file_path']))  # noqa: E501
        if 'component_name' in local_var_params and local_var_params['component_name'] is not None:  # noqa: E501
            query_params.append(('component_name', local_var_params['component_name']))  # noqa: E501
        if 'component_version' in local_var_params and local_var_params['component_version'] is not None:  # noqa: E501
            query_params.append(('component_version', local_var_params['component_version']))  # noqa: E501
        if 'found_by' in local_var_params and local_var_params['found_by'] is not None:  # noqa: E501
            query_params.append(('found_by', local_var_params['found_by']))  # noqa: E501
        if 'static_finding' in local_var_params and local_var_params['static_finding'] is not None:  # noqa: E501
            query_params.append(('static_finding', local_var_params['static_finding']))  # noqa: E501
        if 'dynamic_finding' in local_var_params and local_var_params['dynamic_finding'] is not None:  # noqa: E501
            query_params.append(('dynamic_finding', local_var_params['dynamic_finding']))  # noqa: E501
        if 'created' in local_var_params and local_var_params['created'] is not None:  # noqa: E501
            query_params.append(('created', local_var_params['created']))  # noqa: E501
        if 'scanner_confidence' in local_var_params and local_var_params['scanner_confidence'] is not None:  # noqa: E501
            query_params.append(('scanner_confidence', local_var_params['scanner_confidence']))  # noqa: E501
        if 'sonarqube_issue' in local_var_params and local_var_params['sonarqube_issue'] is not None:  # noqa: E501
            query_params.append(('sonarqube_issue', local_var_params['sonarqube_issue']))  # noqa: E501
        if 'unique_id_from_tool' in local_var_params and local_var_params['unique_id_from_tool'] is not None:  # noqa: E501
            query_params.append(('unique_id_from_tool', local_var_params['unique_id_from_tool']))  # noqa: E501
        if 'vuln_id_from_tool' in local_var_params and local_var_params['vuln_id_from_tool'] is not None:  # noqa: E501
            query_params.append(('vuln_id_from_tool', local_var_params['vuln_id_from_tool']))  # noqa: E501
        if 'sast_source_object' in local_var_params and local_var_params['sast_source_object'] is not None:  # noqa: E501
            query_params.append(('sast_source_object', local_var_params['sast_source_object']))  # noqa: E501
        if 'sast_sink_object' in local_var_params and local_var_params['sast_sink_object'] is not None:  # noqa: E501
            query_params.append(('sast_sink_object', local_var_params['sast_sink_object']))  # noqa: E501
        if 'sast_source_line' in local_var_params and local_var_params['sast_source_line'] is not None:  # noqa: E501
            query_params.append(('sast_source_line', local_var_params['sast_source_line']))  # noqa: E501
        if 'sast_source_file_path' in local_var_params and local_var_params['sast_source_file_path'] is not None:  # noqa: E501
            query_params.append(('sast_source_file_path', local_var_params['sast_source_file_path']))  # noqa: E501
        if 'nb_occurences' in local_var_params and local_var_params['nb_occurences'] is not None:  # noqa: E501
            query_params.append(('nb_occurences', local_var_params['nb_occurences']))  # noqa: E501
        if 'publish_date' in local_var_params and local_var_params['publish_date'] is not None:  # noqa: E501
            query_params.append(('publish_date', local_var_params['publish_date']))  # noqa: E501
        if 'service' in local_var_params and local_var_params['service'] is not None:  # noqa: E501
            query_params.append(('service', local_var_params['service']))  # noqa: E501
        if 'tags' in local_var_params and local_var_params['tags'] is not None:  # noqa: E501
            query_params.append(('tags', local_var_params['tags']))  # noqa: E501
        if 'step_to_reproduce' in local_var_params and local_var_params['step_to_reproduce'] is not None:  # noqa: E501
            query_params.append(('step_to_reproduce', local_var_params['step_to_reproduce']))  # noqa: E501
        if 'jira_creation' in local_var_params and local_var_params['jira_creation'] is not None:  # noqa: E501
            query_params.append(('jira_creation', local_var_params['jira_creation']))  # noqa: E501
        if 'jira_change' in local_var_params and local_var_params['jira_change'] is not None:  # noqa: E501
            query_params.append(('jira_change', local_var_params['jira_change']))  # noqa: E501
        if 'id' in local_var_params and local_var_params['id'] is not None:  # noqa: E501
            query_params.append(('id', local_var_params['id']))  # noqa: E501
        if 'test__test_type' in local_var_params and local_var_params['test__test_type'] is not None:  # noqa: E501
            query_params.append(('test__test_type', local_var_params['test__test_type']))  # noqa: E501
        if 'test__engagement' in local_var_params and local_var_params['test__engagement'] is not None:  # noqa: E501
            query_params.append(('test__engagement', local_var_params['test__engagement']))  # noqa: E501
        if 'test__engagement__product' in local_var_params and local_var_params['test__engagement__product'] is not None:  # noqa: E501
            query_params.append(('test__engagement__product', local_var_params['test__engagement__product']))  # noqa: E501
        if 'finding_group' in local_var_params and local_var_params['finding_group'] is not None:  # noqa: E501
            query_params.append(('finding_group', local_var_params['finding_group']))  # noqa: E501
        if 'risk_acceptance' in local_var_params and local_var_params['risk_acceptance'] is not None:  # noqa: E501
            query_params.append(('risk_acceptance', local_var_params['risk_acceptance']))  # noqa: E501
        if 'tag' in local_var_params and local_var_params['tag'] is not None:  # noqa: E501
            query_params.append(('tag', local_var_params['tag']))  # noqa: E501
        if 'test__tags' in local_var_params and local_var_params['test__tags'] is not None:  # noqa: E501
            query_params.append(('test__tags', local_var_params['test__tags']))  # noqa: E501
        if 'test__engagement__tags' in local_var_params and local_var_params['test__engagement__tags'] is not None:  # noqa: E501
            query_params.append(('test__engagement__tags', local_var_params['test__engagement__tags']))  # noqa: E501
        if 'test__engagement__product__tags__name' in local_var_params and local_var_params['test__engagement__product__tags__name'] is not None:  # noqa: E501
            query_params.append(('test__engagement__product__tags__name', local_var_params['test__engagement__product__tags__name']))  # noqa: E501
        if 'not_tag' in local_var_params and local_var_params['not_tag'] is not None:  # noqa: E501
            query_params.append(('not_tag', local_var_params['not_tag']))  # noqa: E501
        if 'not_tags' in local_var_params and local_var_params['not_tags'] is not None:  # noqa: E501
            query_params.append(('not_tags', local_var_params['not_tags']))  # noqa: E501
        if 'not_test__tags' in local_var_params and local_var_params['not_test__tags'] is not None:  # noqa: E501
            query_params.append(('not_test__tags', local_var_params['not_test__tags']))  # noqa: E501
        if 'not_test__engagement__tags' in local_var_params and local_var_params['not_test__engagement__tags'] is not None:  # noqa: E501
            query_params.append(('not_test__engagement__tags', local_var_params['not_test__engagement__tags']))  # noqa: E501
        if 'not_test__engagement__product__tags__name' in local_var_params and local_var_params['not_test__engagement__product__tags__name'] is not None:  # noqa: E501
            query_params.append(('not_test__engagement__product__tags__name', local_var_params['not_test__engagement__product__tags__name']))  # noqa: E501
        if 'o' in local_var_params and local_var_params['o'] is not None:  # noqa: E501
            query_params.append(('o', local_var_params['o']))  # noqa: E501
        if 'limit' in local_var_params and local_var_params['limit'] is not None:  # noqa: E501
            query_params.append(('limit', local_var_params['limit']))  # noqa: E501
        if 'offset' in local_var_params and local_var_params['offset'] is not None:  # noqa: E501
            query_params.append(('offset', local_var_params['offset']))  # noqa: E501
        if 'prefetch' in local_var_params and local_var_params['prefetch'] is not None:  # noqa: E501
            query_params.append(('prefetch', local_var_params['prefetch']))  # noqa: E501
            collection_formats['prefetch'] = 'csv'  # noqa: E501
        if 'related_fields' in local_var_params and local_var_params['related_fields'] is not None:  # noqa: E501
            query_params.append(('related_fields', local_var_params['related_fields']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/findings/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20010',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def findings_metadata_create(self, id, data, **kwargs):  # noqa: E501
        """findings_metadata_create  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.findings_metadata_create(id, data, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param int id: A unique integer value identifying this finding. (required)
        :param FindingMeta data: (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: FindingMeta
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.findings_metadata_create_with_http_info(id, data, **kwargs)  # noqa: E501

    def findings_metadata_create_with_http_info(self, id, data, **kwargs):  # noqa: E501
        """findings_metadata_create  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.findings_metadata_create_with_http_info(id, data, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param int id: A unique integer value identifying this finding. (required)
        :param FindingMeta data: (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: tuple(FindingMeta, status_code(int), headers(HTTPHeaderDict))
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'id',
            'data'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method findings_metadata_create" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'id' is set
        if self.api_client.client_side_validation and ('id' not in local_var_params or  # noqa: E501
                                                        local_var_params['id'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `id` when calling `findings_metadata_create`")  # noqa: E501
        # verify the required parameter 'data' is set
        if self.api_client.client_side_validation and ('data' not in local_var_params or  # noqa: E501
                                                        local_var_params['data'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `data` when calling `findings_metadata_create`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in local_var_params:
            path_params['id'] = local_var_params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'data' in local_var_params:
            body_params = local_var_params['data']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/findings/{id}/metadata/', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='FindingMeta',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def findings_metadata_delete(self, id, name, **kwargs):  # noqa: E501
        """findings_metadata_delete  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.findings_metadata_delete(id, name, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param int id: A unique integer value identifying this finding. (required)
        :param str name: name of the metadata to retrieve. If name is empty, return all the                             metadata associated with the finding (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.findings_metadata_delete_with_http_info(id, name, **kwargs)  # noqa: E501

    def findings_metadata_delete_with_http_info(self, id, name, **kwargs):  # noqa: E501
        """findings_metadata_delete  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.findings_metadata_delete_with_http_info(id, name, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param int id: A unique integer value identifying this finding. (required)
        :param str name: name of the metadata to retrieve. If name is empty, return all the                             metadata associated with the finding (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'id',
            'name'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method findings_metadata_delete" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'id' is set
        if self.api_client.client_side_validation and ('id' not in local_var_params or  # noqa: E501
                                                        local_var_params['id'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `id` when calling `findings_metadata_delete`")  # noqa: E501
        # verify the required parameter 'name' is set
        if self.api_client.client_side_validation and ('name' not in local_var_params or  # noqa: E501
                                                        local_var_params['name'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `name` when calling `findings_metadata_delete`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in local_var_params:
            path_params['id'] = local_var_params['id']  # noqa: E501

        query_params = []
        if 'name' in local_var_params and local_var_params['name'] is not None:  # noqa: E501
            query_params.append(('name', local_var_params['name']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/findings/{id}/metadata/', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def findings_metadata_read(self, id, **kwargs):  # noqa: E501
        """findings_metadata_read  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.findings_metadata_read(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param int id: A unique integer value identifying this finding. (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: list[FindingMeta]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.findings_metadata_read_with_http_info(id, **kwargs)  # noqa: E501

    def findings_metadata_read_with_http_info(self, id, **kwargs):  # noqa: E501
        """findings_metadata_read  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.findings_metadata_read_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param int id: A unique integer value identifying this finding. (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: tuple(list[FindingMeta], status_code(int), headers(HTTPHeaderDict))
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'id'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method findings_metadata_read" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'id' is set
        if self.api_client.client_side_validation and ('id' not in local_var_params or  # noqa: E501
                                                        local_var_params['id'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `id` when calling `findings_metadata_read`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in local_var_params:
            path_params['id'] = local_var_params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/findings/{id}/metadata/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[FindingMeta]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def findings_metadata_update(self, id, name, data, **kwargs):  # noqa: E501
        """findings_metadata_update  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.findings_metadata_update(id, name, data, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param int id: A unique integer value identifying this finding. (required)
        :param str name: name of the metadata to edit (required)
        :param FindingMeta data: (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: FindingMeta
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.findings_metadata_update_with_http_info(id, name, data, **kwargs)  # noqa: E501

    def findings_metadata_update_with_http_info(self, id, name, data, **kwargs):  # noqa: E501
        """findings_metadata_update  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.findings_metadata_update_with_http_info(id, name, data, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param int id: A unique integer value identifying this finding. (required)
        :param str name: name of the metadata to edit (required)
        :param FindingMeta data: (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: tuple(FindingMeta, status_code(int), headers(HTTPHeaderDict))
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'id',
            'name',
            'data'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method findings_metadata_update" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'id' is set
        if self.api_client.client_side_validation and ('id' not in local_var_params or  # noqa: E501
                                                        local_var_params['id'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `id` when calling `findings_metadata_update`")  # noqa: E501
        # verify the required parameter 'name' is set
        if self.api_client.client_side_validation and ('name' not in local_var_params or  # noqa: E501
                                                        local_var_params['name'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `name` when calling `findings_metadata_update`")  # noqa: E501
        # verify the required parameter 'data' is set
        if self.api_client.client_side_validation and ('data' not in local_var_params or  # noqa: E501
                                                        local_var_params['data'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `data` when calling `findings_metadata_update`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in local_var_params:
            path_params['id'] = local_var_params['id']  # noqa: E501

        query_params = []
        if 'name' in local_var_params and local_var_params['name'] is not None:  # noqa: E501
            query_params.append(('name', local_var_params['name']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'data' in local_var_params:
            body_params = local_var_params['data']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/findings/{id}/metadata/', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='FindingMeta',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def findings_notes_create(self, id, data, **kwargs):  # noqa: E501
        """findings_notes_create  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.findings_notes_create(id, data, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param int id: A unique integer value identifying this finding. (required)
        :param AddNewNoteOption data: (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: Note
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.findings_notes_create_with_http_info(id, data, **kwargs)  # noqa: E501

    def findings_notes_create_with_http_info(self, id, data, **kwargs):  # noqa: E501
        """findings_notes_create  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.findings_notes_create_with_http_info(id, data, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param int id: A unique integer value identifying this finding. (required)
        :param AddNewNoteOption data: (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
[...]
